.BigBox {
    width: 90%;
    max-width: 920px;
    height: 900px;
    background-color:azure;
    margin: 4% auto;
    padding: 15px 0px;
    gap: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    border-radius: 2%;
    box-shadow: 4px 0px 10px 0px #000;
}

body {
    transition: all 1500ms ease-out;
    background-color: aliceblue;
}