.App {
    background-color: #fff;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: background-color 700ms ease-out;
    display: flex;
    padding: 0 2rem;
}

.test {
    background-color: blue;
}

* {
    box-sizing: border-box;
}